<ion-view title="Prova">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h1>Prova</h1>
        <div>
            <p>2-Questáo sobre qq assunto ou materias Qu</p>
        </div>
        <h5>Resposta</h5>
        <form class="list">
            <ion-checkbox name="resposta3">Opcao-1</ion-checkbox>
            <ion-checkbox name="resposta3">Opcao-2</ion-checkbox>
            <ion-checkbox name="resposta3">Opcao-3</ion-checkbox>
            <ion-checkbox name="resposta3">Opcao-4</ion-checkbox>
        </form>
        <button id="prova-button2" style="border-radius:0px 0px 0px 0px;" class="button button-stable  button-block">Enviar</button>
    </ion-content>
</ion-view>