<ion-view title="Simulado">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h3>Uma matéria qualquer</h3>
        <form class="list">
            <label class="item item-input">
                <span class="input-label"></span><textarea placeholder="Digite o texto da questao"> </textarea>
            </label>
        </form>
        <form class="list">
            <ion-toggle toggle-class="toggle-positive" ng-checked="true">texto ?</ion-toggle>
        </form>
        <h5>Resposta</h5>
        <form class="list">
            <label class="item item-input">
                <input type="text" placeholder="Digite sua resposta aqui">
            </label>
        </form>
        <form class="list">
            <ion-radio name="questao2">1-Op;ao1</ion-radio>
            <ion-radio name="questao2">1-Op;ao2</ion-radio>
        </form>
        <button id="simulado-button1" style="border-radius:0px 0px 0px 0px;" class="button button-stable  button-block">Enviar</button>
    </ion-content>
</ion-view>