<ion-view view-title="Mudar Senha" hide-back-button="true">
        <ion-content class="padding-top panel">
          <div class="list text-center padding">
            <i class="icon ion-key larger positive"></i>
          </div>
          <form novalidate name="loginForm" ng-submit="loginForm.$valid && signIn(user)">
          <div class="list">
              
            <label class="item item-input item-floating-label" ng-class="{ 'has-error' : loginForm.txtemail.$invalid && loginForm.$submitted }">
              <span class="input-label">Email</span>
              <input name="txtemail" type="email" ng-model="user.email" placeholder="Email"
              ng-minlength="5"
              ng-maxlength="30"
              required>
            </label>
            <!-- Edit this messages if you want -->
            <div class="form-errors" ng-messages="loginForm.txtemail.$error" ng-if="loginForm.$submitted">
              <div class="form-error" ng-message="required">This field is required.</div>
              <div class="form-error" ng-message="email">This field is must be an email.</div>
              <div class="form-error" ng-message="minlength">This field is must be at least 5 characters.</div>
              <div class="form-error" ng-message="maxlength">This field is must be less than 30 characters.</div>
            </div>
            <label class="item item-input item-floating-label" ng-class="{ 'has-error-lr' : loginForm.txtPassword.$invalid && loginForm.$submitted }">
              <span class="input-label">Senha atual</span>
              <input name="txtPassword" type="password" ng-model="user.oldPass" placeholder="Senha atual"
              ng-minlength="5"
              ng-maxlength="30"
              required>
            </label>
            <!-- Edit this messages if you want -->
            <div class="form-errors" ng-messages="loginForm.txtPassword.$error" ng-if="loginForm.$submitted">
            <div class="form-error" ng-message="required">This field is required.</div>
            <div class="form-error" ng-message="minlength">This field is must be at least 5 characters.</div>
            <div class="form-error" ng-message="maxlength">This field is must be less than 30 characters.</div>
            </div>
            
                <label class="item item-input item-floating-label" ng-class="{ 'has-error-lr' : loginForm.txtPasswordConfirm.$invalid && loginForm.$submitted }">
              <span class="input-label">Nova senha</span>
              <input name="txtPasswordConfirm" type="password" ng-model="user.newPass" placeholder="Nova Senha"
              ng-minlength="5"
              ng-maxlength="30"
              required>
            </label>
            <!-- Edit this messages if you want -->
            <div class="form-errors" ng-messages="loginForm.txtPasswordConfirm.$error" ng-if="loginForm.$submitted">
            <div class="form-error" ng-message="required">This field is required.</div>
            <div class="form-error" ng-message="minlength">This field is must be at least 5 characters.</div>
            <div class="form-error" ng-message="maxlength">This field is must be less than 30 characters.</div>
            </div>
          </div>
          <div class="padding-top">
            <input type="submit" class="button button-block button-positive" value="Alterar senha">
  
          </div>
         
        </form>
        </ion-content>
</ion-view>
