 <ion-modal-view>
  <ion-header-bar class="bar-positive">
        <h1 class="title">Adicionar opções da questão</h1>   
    </ion-header-bar>
   <ion-content overflow-scroll="true" padding="true" class="card" data-ng-controller="modalOpcoesController">
                <form class="list" >
      <label>Resposta de multipla escolha</label> 
           <button data-ng-click="modalOpcoes.fecharModal()"
                class="button button-stable"
                style="float:right; margin:5px">Fechar</button> 
            <label class="item item-input">
            <span class="input-label">Digite a opção:</span>
            <input type="text"  ng-model="modal.multiplaTexto" >
            <ion-checkbox ng-model="modal.multiplaChecked"></ion-checkbox>
            </label>

              <button id="simulado-button1" data-ng-if="modal.multiplaTexto"
              data-ng-click="modalOpcoes.adicionarOpcao() "
              style="margin:5px"
              class="button button-positive">Adicionar opção</button>
              
           
        </form>
              <form class="list" >
        <ion-list >
            <ion-item data-ng-repeat="opcao in modalQuestao.data.questao.opcoes">
                     <ion-checkbox class="checkbox checkbox-balanced" ng-model="opcao.verdadeira"> {{opcao.texto}}</ion-checkbox>
            </ion-item>
        </ion-list>
       </form>

              
   </ion-content>
   </ion-modal-view>