<ion-view title="Principal">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h3>Só Questões</h3>
        <div>
            <p>Faça simulados das matérias que vc escolher</p>
        </div>
        <div>
            <p>Contrua cadernos de matérias para treinamento e estudo</p>
        </div>
        <div>
            <p>Adicione questões ao nosso banco e ganhe crédito em tempo de assinatura e até pontos que podem ser convertidos em dinheiro no futuro.</p>
        </div>
    </ion-content>
</ion-view>